<div class="slider">
        <div class="slides">
            <div class="quote">
                {% render 'icon.quotes.liquid' %}
            </div>
            <div class="text">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Fusce tellus odio, dapibus id fermentum quis,
                suscipit id erat.
            </div>
            <div class="man"><img src="2.jpg" alt=""></div>
            <div class="name">John Doe 1</div>

        </div>

        <div class="slides">
            <div class="quote">
                {% render 'icon.quotes.liquid' %}
            </div>
            <div class="text">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Fusce tellus odio, dapibus id fermentum quis,
                suscipit id erat.
            </div>
            <div class="man"><img src="2.jpg" alt=""></div>
            <div class="name">John Doe 2</div>

        </div>

        <div class="slides">
            <div class="quote">
                {% render 'icon.quotes.liquid' %}
            </div>
            <div class="text">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Fusce tellus odio, dapibus id fermentum quis,
                suscipit id erat.
            </div>
            <div class="man"><img src="2.jpg" alt=""></div>
            <div class="name">John Doe 3</div>

        </div>

        <div class="slides">
            <div class="quote">
               {% render 'icon.quotes.liquid' %}
            </div>
            <div class="text">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Fusce tellus odio, dapibus id fermentum quis,
                suscipit id erat.
            </div>
            <div class="man"><img src="2.jpg" alt=""></div>
            <div class="name">John Doe 4</div>

        </div>

        <div class="slides">
            <div class="quote">
               {% render 'icon.quotes' %}
            </div>
            <div class="text">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Fusce tellus odio, dapibus id fermentum quis,
                suscipit id erat.
            </div>
            <div class="man"><img src="2.jpg" alt=""></div>
            <div class="name">John Doe 5</div>

        </div>

        <div class="slides">
            <div class="quote">
               {% render 'icon.quotes' %}
            </div>
            <div class="text">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Fusce tellus odio, dapibus id fermentum quis,
                suscipit id erat.
            </div>
            <div class="man"><img src="2.jpg" alt=""></div>
            <div class="name">John Doe 6</div>

        </div>
    </div>



{% schema %}
    {
        "name":"testimonial slider",
        "settings":[],
        "presets":[
            {
                "name":"testimonial slider"
            }
        ]
    }
{% endschema %}